<a href="https://colab.research.google.com/github/Theresasaji/python/blob/main/cycle2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2 Display future leap years from current year to a final year entered by user
y = int(input("Enter the final year : "))
print("Future leap years from 2021 : ")
for x in range (2021 , y+1):
 if((x%4==0) and (x%100!=0)) or (x%400==0):
   print(x)

Enter the final year : 2040
Future leap years from 2021 :
2024
2028
2032
2036
2040

In [ ]:
#3a Generate positive list of numbers from a given list of integers
mylist=[23 , 58 , 34 , 70 , -56 , 45 , 65 , -12] 
print("First list : ", mylist)
newlist=[x for x in mylist if x > 0]
print("New list : " ,newlist)

First list :  [23, 58, 34, 70, -56, 45, 65, -12]
New list :  [23, 58, 34, 70, 45, 65]

In [ ]:
#3b Square of N numbers
mylist=[1 ,2 , 3 , 4]
print("First list : " ,mylist)
newlist=[number ** 2 for number in mylist]
print("New list : " ,newlist)

First list :  [1, 2, 3, 4]
New list :  [1, 4, 9, 16]

In [ ]:
#9 Create a string from given string where first and last characters exchanged
a=input("Enter a string : ")
print("New string : ")
print(a[-1:] + a[1:-1] + a[0])

Enter a string : PYTHON
New string :
NYTHOP

In [ ]:
#10 Accept the radius from user and find area of circle
r=float(input("Enter radius of circle : "))
pi=3.14
area= pi * r * r
print("Area = " ,area)

Enter radius of circle : 6
Area =  113.03999999999999

In [ ]:
#11 Find biggest of three numbers entered
a = float(input("Enter first number : "))
b = float(input("Enter second number : "))
c = float(input("Enter third number : "))
 
if (a > b) and (a > c):
   largest = a
elif (b > a) and (b > c):
   largest = b
else:
   largest = c
 
print("The largest number is",largest)

Enter first number : -78
Enter second number : 45
Enter third number : 14
The largest number is 45.0

In [ ]:
#20 From a list of integers ,create a new list removing even numbers
list = [12, 13, 14, 15, 16]
print("Original list : " , list)
for i  in list:
	if(i%2 == 0):
	    list.remove(i)
print("List after removing EVEN numbers : " , list)

Original list :  [12, 13, 14, 15, 16]
List after removing EVEN numbers :  [13, 15]

In [ ]:
#19 Find gcd of two numbers
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))
i = 1
while(i <= a and i <= b):
  if(a % i == 0 and b % i == 0):
    gcd = i
  i = i + 1
print("GCD is", gcd)

Enter 1st number: 60
Enter 2nd number: 30
GCD is 30

In [ ]:
#18 Merge two dictionaries
dict1 = {"a":100 ,"b":200}
dict2 = {"x":300 ,"y":400}
newdict = dict1.copy()
newdict.update(dict2)
print("Merged dictionary : " , newdict)

Merged dictionary :  {'a': 100, 'b': 200, 'x': 300, 'y': 400}

In [ ]:
#12 Accept a file name from user and print extension of that
filename = input("Enter the Filename : ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Enter the Filename : print.html
The extension of the file is : 'html'

In [3]:
#17
k1=input("enter first key : ")
k2=input("enter second key : ")
k3=input("enter third key : ")
k4=input("enter fourth key : ")
k5=input("enter fifth key : ")
v1=input("enter first value : ")
v2=input("enter second value : ")
v3=input("enter third value : ")
v4=input("enter fourth value : ")
v5=input("enter fifth value : ")
d={}
d[k1]=v1
d[k2]=v2
d[k3]=v3
d[k4]=v4
d[k5]=v5
l=list(d.items())   
l.sort() 
print("ascending order is : ",l)
l=list(d.items())
l.sort(reverse = True)
print("descending order is : ",l)

enter first key : 1
enter second key : 5
enter third key : 2
enter fourth key : 3
enter fifth key : 4
enter first value : a
enter second value : b
enter third value : c
enter fourth value : d
enter fifth value : e
ascending order is :  [('1', 'a'), ('2', 'c'), ('3', 'd'), ('4', 'e'), ('5', 'b')]
descending order is :  [('5', 'b'), ('4', 'e'), ('3', 'd'), ('2', 'c'), ('1', 'a')]

In [5]:
#16
x=input("enter the first string : ")
y=input("enter the second string : ")
def swapch(x,y): 
  a = y[:1] + x[1:]
  b = x[:1] + y[1:]
  return a + ' ' + b
print(swapch(x,y))

enter the first string : there
enter the second string : here
hhere tere

In [10]:
#13
c1=[]
x=int(input("enter limit for list1 :"))
for i in range(1,x+1):
  a=input()
  c1.append(a)
  p=set(c1)
print(p)
c2=[]
y=int(input("enter limit for list2 : "))
for i in range(1,y+1):
  b=input()
  c2.append(b)
  q=set(c2)
print(q)
print(p.difference(q))

enter limit for list1 :2
green
red
{'green', 'red'}
enter limit for list2 : 3
blue
rose
black
{'black', 'blue', 'rose'}
{'green', 'red'}

In [11]:
#14
a=int(input("enter any integer : "))
n1=int("%s" %a)
n2=int("%s%s" %(a,a))
n3=int("%s%s%s" %(a,a,a))
print("value of n+nn+nnn is : ",n1+n2+n3)

enter any integer : 1
value of n+nn+nnn is :  123

In [13]:

c=[]
x=int(input("enter limit for list : "))
for i in range(1,x+1):
  a=input()
  c.append(a)
print(c)
print(c[0],c[-1])

enter limit for list : 4
green
rose
red
blue
['green', 'rose', 'red', 'blue']
green blue

In [14]:
str=input("enter any string : ")
def rep_ch(str1):
  char=str1[0]
  str1=str1.replace(char, '$')
  str1=char+str1[1:]
  return str1
print(rep_ch(str))

enter any string : theresa
theresa

In [17]:
x=[]
a=int(input("enter limit for list1 : "))
for i in range(1,a+1):
  a=int(input())
  x.append(a)
 
print(x)
y=[]
b=int(input("enter limit for list2 : "))
for i in range(1,b+1):
  b=int(input())
  y.append(b)
print(y)
if (len(x)==len(y)):
  print("list1 and list2 are of same length i.e.",len(x))
else:
  print("list1 and list2 are of different length.")
if (sum(x)==sum(y)):
  print("list1 and list2 sums to the same value i.e.",sum(x))
else:
  print("list1 and list2 sums up to different values.")
def common(x, y): 
    p=set(x) 
    q=set(y) 
    if len(p.intersection(q)) > 0: 
        return(p.intersection(q))   
    else: 
        return("no common elements")  
print("value that occur in both lists is/are :",common(x,y))

enter limit for list1 : 3
5
6
7
[5, 6, 7]
enter limit for list2 : 3
7
8
9
[7, 8, 9]
list1 and list2 are of same length i.e. 3
list1 and list2 sums up to different values.
value that occur in both lists is/are : {7}

In [21]:
n=input("enter your house number : ")
hname=input("enter your house name : ")
s=input("enter your street name : ")
t=input("enter your town/city : ")
d=input("enter your district : ")
state=input("enter your state : ")
country=input("enter your country : ")
pin=int(input("enter your postcode: "))
print("\nAddress Details :\n" + "\nHousenumber :",n,"\nHouse :",hname,"\nStreet : ",s,"\nTown/City : ",t,"District : ",d,"\nState : ",state,"\nCountry : ",country,"\nPostcode : ",pin)

enter your house number : 123
enter your house name : mhome
enter your street name : mstreet
enter your town/city : mycity
enter your district : mydist
enter your state : mystate
enter your country : mycountry
enter your postcode: 544556

Address Details :

Housenumber : 123
House : mhome
Street :  mstreet
Town/City :  mycity District :  mydist
State :  mystate
Country :  mycountry
Postcode :  544556